<div class="auth">
    <div class="row">
        <div class="col s6 offset-s3">
            {{#if passwordError}}
                <p class="alert">{{passwordError}}</p>
            {{/if}}
            <h1>Set new password</h1>
            <form action="/auth/password" method="post">
                <div class="input-field">
                    <input id="rpassword" name="password" type="password" class="validate" required>
                    <label for="rpassword">Password</label>
                    <span class="helper-text" data-error="Enter password"></span>
                </div>
                <div class="input-field">
                    <input id="r_confirm" name="repeat" type="password" class="validate" required>
                    <label for="r_confirm">Confirm password</label>
                    <span class="helper-text" data-error="Enter confirm password"></span>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="userId" value="{{userId}}">
                <input type="hidden" name="token" value="{{token}}">
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
